@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;

    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

*{
    box-sizing: border-box;
}

#logo{
    height: 130px;
    width: 400px;
    position: relative;
    top: 5px;

 
}

#nav1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 150px;
    border: 8px inset #3d386e75;
    background: linear-gradient( 90deg,#201d3b,#564f9baf, #6b61c8);
    animation: gradient 2s ease infinite;
    background-size: 120% 120%;
    margin-top: 40px;
    transition: 0.7s;
    cursor: pointer;
    width: 100%;
   
}

a:hover{
    opacity: 80%;
}
/*@keyframes gradient{
    0%{
        background-position: 90% 80%;
    }

    50%{
        background-position: 90% 100%;
    }

    100%{
        background-position: 10% 0%;
    }
}
*/

#nav1 > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
  
} 

a{
    transition: 0.7s;
}

/* #rubrique_html{
    margin-left: 20px;
}

#rubrique_js{
    margin-right: 50px;
}
 */
