body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -24px;
    background-color: rgba(22, 22, 40, 0.96);
    width: 100vw;
}

h3{
    text-align: center;
    font-size: 30px;
    font-family: consolas;
}

#footer_{
    color:white;
    width: 100vw;
    margin-top: 250px;
}

#tout{
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    text-align: center;
    font-size: 18px;
    font-family: consolas;
}

#div_diapo1{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anim{
    position: relative;
    -webkit-box-reflect: below -60px linear-gradient(transparent, black);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anim div{
    margin-right: 20px;
}
.anim h2{
    display: inline-block;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    font-family: consolas;   
}

@keyframes animate{
    0%{
        transform:translateY(0px);
    }
    20%{
        transform:translateY(-30px);
    }
    40%,100%{
        transform:translatey(0px);
    }
}

/* PROGRAMMATION*/

#programme{
    animation: turntwo 0.8s ease-in-out;
}


@keyframes turntwo{
    from {
        transform:rotateX(0deg)

    }
    to {
        transform:rotateX(360deg)
    }
}

/* Nom*/


#nom{
    display: flex;
    animation : overlay_hide 5.3s ease-in-out;
    text-align: center;
}



#nom > div{
    display: flex;
    margin-left: 1%;
}

#nom > div > h4{
    animation: nom 1.5s ease-in-out;
    animation-delay: calc(0.1s * var(--i));

}


 

@keyframes nom{
    0%{
        transform:translateY(0px);
    }
    20%{
        transform:translateY(-20px);
    }
    40%,100%{
        transform:translatey(0px);
    }
}


@keyframes overlay_hide {
    0%,80%{
        text-decoration: overline 1px rgba(255, 255, 255, 255);
    }
    100%{
        text-decoration: overline 1px rgba(255, 255, 255, 0);
    }

}
