@font-face {
    font-family: Blaster;
    src: url(../font/blaster.ttf);
}

:root {
    --color1: red;
    --color2: blue;
    --color3: yellow;

}



body {
    background: linear-gradient(-45deg, var(--color1), var(--color2), var(--color3));
    height: 100vh;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#form_pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

#form_pokemon input {
    width: 100%;
    border-radius: 14px 0 0 0;
    padding: 7px 18px;
    border: none;
    height: 30px;
    position: relative;
    z-index: 2;
}

#form_pokemon button {
    width: 7%;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.083);
    position: relative;
    left: -1px;
    border-radius: 0 14px 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    z-index: 1;
}


/* CARTE */


#carte {
    height: 400px;
    aspect-ratio: 30 / 43;
    /* background: radial-gradient(circle, #9ac652, #7eac0a ); */
    border-radius: 13px;
    border: 10px solid #fbe89d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    z-index: 2;


}



#carte-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
}


#carte-header p,
h1 {
    margin: 0;
}


#carte-header>div {
    display: flex;
    align-items: center;
}

#carte h1 {

    font-size: 20px;
}



#carte-header img {
    height: 20px;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: 2px;
}

:root {
    --blanc: #f0f0f0;
    --gris: #a5a5a5;
}

#carte-header>div:first-of-type p {
    background: linear-gradient(-180deg, var(--blanc), var(--gris), var(--blanc), var(--blanc), var(--blanc), var(--gris), var(--gris), var(--gris), var(--gris));
    border-radius: 16px;
    padding: 1px 9px;
    font-family: Blaster;
    color: #5d5d5e;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    box-shadow: 1px 1px 2px rgb(45, 45, 45);
    transform: skew(-14deg);
    font-size: 13px;
    position: relative;
    left: -5px;
}

#carte-header p>span {
    font-size: 8px;

}

#carte-header p:last-of-type {
    font-weight: bold;
    font-size: 20px;
}

#img_pokemon {
    width: 100%;

}

#specs {
    font-size: 6.5px;
    color: #626164;
    margin: 0px;
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, rgb(185, 185, 185), var(--blanc), var(--blanc), var(--blanc), rgb(185, 185, 185));
    padding: 1px 0px;
    border-top: 4px ridge rgb(206, 206, 206);
}

#cadre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 4px ridge rgb(206, 206, 206);
    width: 93%;

}

#atk {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 3fr 9fr 1fr;
    grid-template-rows: 30px;
    align-items: center;
    justify-items: left;
    font-weight: bold;
    width: 96%;
    height: 100px;
}

.atk_img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.atk_img img {
    height: 15px;
    width: 15px;
}


.normal {
    border-radius: 50px;
    border: none;
}


#footer img {
    height: 13px;
    width: 13px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
}

#footer div {
    display: flex;
    align-items: center;
    justify-content: center;

}

#footer p {
    margin: 4px 4px;
}

#footer>div {
    background-color: white;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 1px 1px 2px rgb(45, 45, 45);
}

#resistance {
    border-left: 1px solid grey;
    padding-left: 3px;
}

#description {
    font-size: 8px;
    text-align: left;
    color: rgb(78, 76, 76);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#description div {
    width: 100%;
}

#recherche:focus {
    border: none;
    outline: none;
}


#suggestion {

    width: 200px;
    position: relative;
    bottom: 53px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



#suggestion button {
    width: 100%;
    height: 50px;
    background-color: white;


    border-bottom: 1px solid grey;
    border-radius: 0px;
    border: none;
}

#suggestion button:hover {
    background-color: #DDDDDD;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;


}

#boxbox {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 999999;
}

#cadre {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#img_pokemon {
    max-width: 70%;
    max-height: 100px;
    width: auto;
    height: auto;
}


/* 3D EFFECT */

#carte{
    transition: 500ms ease-in-out;
}

#carte:hover{

    box-shadow: 0px 5px 20px 5px #00000044;

}

#noise{
    position: absolute;
    z-index: -1;
}

#box_pokemon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#pokemon_container{
    width: auto;
    transition: 300ms ease-in-out;
}

#atk, #cadre, #carte-header{
    position: relative;
    z-index: 3;
}

body {
    overscroll-behavior-y: none;
}

#pokemon_container:hover{
    transform: scale3d(1.07,1.07,1.07);

}


